@charset "utf-8";
/* CSS Document */

#Move, #Move1, #Move2, #Move3, #Move4 {
	z-index:-87648237682;
	width: 100px;
	height: auto;
	/*Scale the size down to fit*/
}

/*Animation for rotation - optional

@keyframes rotate {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}

#Move {
	/*
	animation: rotate 5s infinite;
	-webkit-animation: rotate 5s infinite;
	*/
}

#Move1 {
	/*
	animation: rotate 5s infinite;
	-webkit-animation: rotate 5s infinite;
	*/
}

#Move2 {
	/*
	animation: rotate 5s infinite;
	-webkit-animation: rotate 5s infinite;
	*/
}

#Move3 {
	/*
	animation: rotate 5s infinite;
	-webkit-animation: rotate 5s infinite;
	*/
}

#Move4 {
	/*
	animation: rotate 5s infinite;
	-webkit-animation: rotate 5s infinite;
	*/
}






